# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives:**
- List popular languages for Data Science
- Indicate three development environment open source tools used in data science
- List 3 (or more) commonly used libraries in data science
- Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL

Some of the commonly used libraries used by Data Scientists :
1. Pandas
2. Numpy
3. Matplotlib
4. Tensorflow
5. Scipy

| Data Science Tools |
| ------ |
| Jupyter notebook |
| Apache Spark |
| RStudio |

### Below are a few examples of evaluation arithmetic expressions in python.

This a simple arithmetic expression to mutiply then add integers

In [2]:
( 3*4 ) + 5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200 // 60

3

## Author
Lex Nduva